.white.center-text
    -# <img className='image' src='/stilted_Demisefest.jpg'/>
    -# <div class="btn-group d-none d-lg-block">
    -#     <Link className="btn btn-dark" to="/shows">Shows</Link>
    -#     <Link className="btn btn-dark" to="/music">Music</Link>
    -#     <Link className="btn btn-dark" to="/merch">Merch</Link>