.white.center-text
  =image_tag('Stilted_Demisefest.jpg', class: 'image')
  %br
  %br
  .container
    %p.black Stilted.  A three-piece rock and roll band from Fort Collins, Colorado.  Playing original music that runs the gauntlet from indie rock to (heavy) alternative, Stilted was once described as sounding like “the bastard love child of Nirvana and the Talking Heads”.  Cody delivers masterful lyrics with blazing guitar riffs, while Thom lays down thumping, rhythmic bass lines over KJ’s powerful drum beats.
  .btn-group.d-none.d-lg-block
    =link_to 'Shows', shows_path, class: 'btn btn-dark'
    =link_to 'Music', music_index_path, class: 'btn btn-dark'
    -# =link_to 'Merch', merch_index_path, class: 'btn btn-dark'
    =link_to 'Contact', new_message_path, class: 'btn btn-dark'
  %br
