.white.center-text
  =image_tag('Stilted_Demisefest.jpg', class: 'image')
  %br.d-none.d-lg-block
  %br.d-none.d-lg-block
  .btn-group.d-none.d-lg-block
    =link_to 'Shows', shows_path, class: 'btn btn-dark'
    =link_to 'Music', music_index_path, class: 'btn btn-dark'
    -# =link_to 'Merch', merch_index_path, class: 'btn btn-dark'
    =link_to 'Contact', new_message_path, class: 'btn btn-dark'
  %br.d-none.d-lg-block
