.white.center-text
  =image_tag('Stilted_Demisefest.jpg', class: 'image')
  %br.d-none.d-lg-block
  %br.d-none.d-lg-block
  .container
    %p.black Stilted.  A three-piece rock and roll band from Fort Collins, Colorado.  Playing original music that runs the gauntlet from indie rock to (heavy) alternative, Stilted was once described as sounding like “the bastard love child of Nirvana and the Talking Heads”. Cody Hitchcock plays guitar and casts his male gaze towards your mom. Thom Miller plays bass and doesn’t give a shit about your social media. K.J. Osenenko plays drums and thinks your favorite band sucks. Despite these misanthropic personality quirks…or perhaps because of them, Stilted delivers a loud and rambunctious set of original music designed to knock your god-damned socks off.
  .btn-group.d-none.d-lg-block
    =link_to 'Shows', shows_path, class: 'btn btn-dark'
    =link_to 'Music', music_index_path, class: 'btn btn-dark'
    -# =link_to 'Merch', merch_index_path, class: 'btn btn-dark'
    =link_to 'Contact', new_message_path, class: 'btn btn-dark'
  %br.d-none.d-lg-block
