.white.center-text
  %h1.monoton Latest Releases
  .music-container
    %iframe.track.d-none.d-lg-block{src:"https://bandcamp.com/EmbeddedPlayer/track=1856865821/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/"}
      %a{href: "https://stilted.bandcamp.com/track/were-gonna-make-it"}
    %iframe.track.d-none.d-lg-block{src:"https://bandcamp.com/EmbeddedPlayer/track=2459908476/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/"}
      %a{href:"https://stilted.bandcamp.com/track/brightly-lit-room"}
    %iframe.album.d-none.d-lg-block{src:"https://bandcamp.com/EmbeddedPlayer/album=775819202/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/"}
      %a{href:"https://stilted.bandcamp.com/album/the-big-picture-aside"}
    %iframe.track-mobile.d-lg-none{src:"https://bandcamp.com/EmbeddedPlayer/track=1856865821/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/"}
      %a{href:"https://stilted.bandcamp.com/track/were-gonna-make-it"}
    %iframe.track-mobile.d-lg-none{src:"https://bandcamp.com/EmbeddedPlayer/track=2459908476/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/"}
      %a{href:"https://stilted.bandcamp.com/track/brightly-lit-room"}
    %iframe.track-mobile.d-lg-none{src:"https://bandcamp.com/EmbeddedPlayer/album=775819202/size=small/bgcol=ffffff/linkcol=0687f5/track=3946968099/transparent=true/"}
      %a{href:"https://stilted.bandcamp.com/album/the-big-picture-aside"}
    %iframe.track-mobile.d-lg-none{src:"https://bandcamp.com/EmbeddedPlayer/album=775819202/size=small/bgcol=ffffff/linkcol=0687f5/track=3898717670/transparent=true/"}
      %a{href:"https://stilted.bandcamp.com/album/the-big-picture-aside"}
    %iframe.track-mobile.d-lg-none{src:"https://bandcamp.com/EmbeddedPlayer/album=775819202/size=small/bgcol=ffffff/linkcol=0687f5/track=903824012/transparent=true/"}
      %a{href:"https://stilted.bandcamp.com/album/the-big-picture-aside"}
    %iframe.track-mobile.d-lg-none{src:"https://bandcamp.com/EmbeddedPlayer/album=775819202/size=small/bgcol=ffffff/linkcol=0687f5/track=1810433489/transparent=true/"}
      %a{href:"https://stilted.bandcamp.com/album/the-big-picture-aside"}