%h1.center-text.monoton SHOWS AND DATES
-if @upcoming.any?
  =render partial: 'list', locals: {shows: @upcoming}
-else @upcoming
  .card
    .card-body
      %h5.center-text No new shows at this time. Please check back later.
-if @past.any?
  %h2.mx-4 Past Shows
  =render partial: 'list', locals: {shows: @past}
%br
