.black
  %h1.center-text.monoton SHOWS AND DATES
  -if @shows.any?
    -@shows.each do |show|
      .card
        .card-body
          %h3=show.venue
          -if show.supporting_acts.present?
            %h5 
              With
              =show.supporting_acts
          %h5
            =show.show_date.strftime('%m/%d/%Y')
            =show.show_time
          -if show.presale_link.present?
            =link_to 'Tickets', show.presale_link
  -else @shows
    .card
      .card-body
        %h5.center-text No shows at this time. Please check back later.
%br
