%ul.white.center-text
  %li.btn-group.d-none.d-lg-block.center-text
    =link_to 'Shows', shows_path, class: 'btn btn-dark mx-9'
    =link_to 'Music', music_index_path, class: 'btn btn-dark'
    =link_to 'Merch', merch_index_path, class: 'btn btn-dark'
  %br.d-none.d-lg-block
  %li Cody Hitchcock - Guitar/Vocals
  %li Thom Miller - Bass
  %li KJ Osenenko - Drums