.navbar.navbar-expand-lg.nav-background
  .container-fluid
    -# <Link className="logo" to="/"><h1>STILTED</h1></Link>
    .d-none.d-lg-block
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        %li.nav-link Listen
        -# <Link className="btn btn-dark" to="/music">Listen Now</Link></li>
        %li.nav-link Upcoming
        -# <Link className="btn btn-dark" to="/shows">Upcoming Shows</Link></li>
        %li.nav-link Merch
        -# <Link className="btn btn-dark" to="/merch">Merch</Link></li>
        %li.nav-link Contact
        -# Link className="btn btn-dark" to="/contact">Booking / Contact </Link></li>
    .d-lg-none
    .btn-group
      -# <Link className="btn btn-dark" to="/shows">Shows</Link>
      -# <Link className="btn btn-dark" to="/music">Music</Link>
      -# <Link className="btn btn-dark" to="/merch">Merch</Link>
      -# <Link className="btn btn-dark" to="/contact">Contact</Link>
